node-red-json/new_system [ MQTT ].json
[{"id":"a5f9e463cd36d985","type":"tab","label":"new_system [ MQTT ]","disabled":false,"info":"","env":[]},{"id":"df2711e15839f77a","type":"mqtt in","z":"a5f9e463cd36d985","d":true,"name":"","topic":"SCADA/HMI/ST","qos":"2","datatype":"auto","broker":"7a2bdac1a0c082ae","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":60,"wires":[["c86c52609dfcbc50"]]},{"id":"c86c52609dfcbc50","type":"debug","z":"a5f9e463cd36d985","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":60,"wires":[]},{"id":"4ca75202163eea9a","type":"mqtt in","z":"a5f9e463cd36d985","name":"","topic":"/test","qos":"2","datatype":"auto","broker":"f179f8209188c372","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":200,"wires":[["a293b4bb35d8d47e"]]},{"id":"a710efcf02ec81eb","type":"comment","z":"a5f9e463cd36d985","name":"_DI_Status","info":"","x":100,"y":140,"wires":[]},{"id":"a293b4bb35d8d47e","type":"json","z":"a5f9e463cd36d985","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["e6aac3b74d7fc1fd"]]},{"id":"e6aac3b74d7fc1fd","type":"debug","z":"a5f9e463cd36d985","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"1846a12efe78e806","type":"mqtt in","z":"a5f9e463cd36d985","name":"","topic":"/test/di/alarm","qos":"2","datatype":"auto","broker":"f179f8209188c372","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":300,"wires":[["07e580959d1ff042"]]},{"id":"07e580959d1ff042","type":"json","z":"a5f9e463cd36d985","name":"","property":"payload","action":"","pretty":false,"x":290,"y":300,"wires":[["d9e1a08e4dde1405"]]},{"id":"d9e1a08e4dde1405","type":"debug","z":"a5f9e463cd36d985","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"df4735507bb3d4e1","type":"comment","z":"a5f9e463cd36d985","name":"_DI_Alarm","info":"","x":100,"y":260,"wires":[]},{"id":"7a2bdac1a0c082ae","type":"mqtt-broker","name":"","broker":"192.168.1.8","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f179f8209188c372","type":"mqtt-broker","name":"","broker":"192.168.1.44","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]