node-red-json/new_system [ SQL SERVER].json
[{"id":"0a8ca53afa008924","type":"tab","label":"new_system [ SQL SERVER]","disabled":false,"info":"","env":[]},{"id":"770fd9e1979e61db","type":"http in","z":"0a8ca53afa008924","name":"","url":"/PARATION","method":"get","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["39fce92791e21f44"]]},{"id":"1dc481503cdec4f5","type":"debug","z":"0a8ca53afa008924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"1b0b2e23acb2e2f3","type":"http response","z":"0a8ca53afa008924","name":"","statusCode":"","headers":{},"x":510,"y":160,"wires":[]},{"id":"39fce92791e21f44","type":"MSSQL","z":"0a8ca53afa008924","mssqlCN":"df8c0b88.91b0a8","name":"","query":"SELECT * FROM PARTITION","outField":"payload","x":280,"y":160,"wires":[["1b0b2e23acb2e2f3","1dc481503cdec4f5"]]},{"id":"7a11ab5910cb0ca2","type":"comment","z":"0a8ca53afa008924","name":"Get [ PARATION ]","info":"","x":110,"y":100,"wires":[]},{"id":"890c0248fc8fa676","type":"comment","z":"0a8ca53afa008924","name":"POST [ PARATION ]","info":"","x":110,"y":240,"wires":[]},{"id":"ba628a614b63d798","type":"http in","z":"0a8ca53afa008924","name":"","url":"/DI","method":"post","upload":false,"swaggerDoc":"","x":100,"y":440,"wires":[["83e9f98af3c2bc6f","535d24b74e9af446","e8435e47e825bd94"]]},{"id":"e9e379f89ca37de4","type":"http response","z":"0a8ca53afa008924","name":"","statusCode":"","headers":{},"x":470,"y":440,"wires":[]},{"id":"83e9f98af3c2bc6f","type":"debug","z":"0a8ca53afa008924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":380,"wires":[]},{"id":"535d24b74e9af446","type":"MSSQL","z":"0a8ca53afa008924","mssqlCN":"df8c0b88.91b0a8","name":"","query":"INSERT INTO ","outField":"payload","x":300,"y":460,"wires":[["e9e379f89ca37de4"]]},{"id":"e8435e47e825bd94","type":"function","z":"0a8ca53afa008924","name":"","func":"msg.payload= {\n    DI_name:msg.payload.DI_name,\n    DI_type:msg.payload.DI_type,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":360,"wires":[[]]},{"id":"df8c0b88.91b0a8","type":"MSSQL-CN","name":"new","server":"localhost","encyption":false,"database":"new"}]